@import "../settings";

@each $x in (300, 900, 1000, 1200, 1500) {
  [max="#{$x}"],
  [data-max="#{$x}"] {
    margin: auto;
    max-width: #{$x}px;
    display: flex;
  }
}

/**
LAYOUT FOR HOME OR RESULTS/FILTERS layout
*/

.layout-content-aside {
  display: flex;
  @media (min-width: 640px) {
    min-height: calc(100vh - 80px);
  }
  @media (max-width: 639px) {
    flex-direction: column-reverse;
  }
}

.layout-content-aside__content {
  flex: 1;
}

.layout-content-aside__aside {
  background: #f8f8f8;
  @media (min-width: 640px) {
    flex: 1;
    max-width: 300px;
    flex-basis: 300px;
    flex-shrink: 0;
  }
}

/**
LAYOUT 70/30
*/

.layout-content-regular {
  display: flex;
  padding: 0 10px;
  background: #F0F0F0;
  [max],
  [data-max] {
    display: flex;
  }
}

.layout-content-regular__content {
  flex: 2.8;
  margin: 0 10px;
}

.layout-content-regular__aside {
  flex: 1.2;
  margin: 0 10px;
}


/**
LAYOUT Single Well Centered
*/

.layout-content-single-well {
  display: flex;
  background: #E5E5E5;
  justify-content: center;
  [max],
  [data-max] {
    display: flex;
  }
}

.layout-content-single-well__content {
  background-color: white;
  margin: 80px 0;
  flex-basis: 630px;
  @media (max-width: 630px) {
    margin: 0;
  }
}


/**
BOXES
*/
.layout-box {
  background: #FFF;
  padding: 20px;
  margin-bottom: 20px;
}

.layout-box-tab-bar {
  display: flex;
  background: #F8F8F8;
  border-bottom: 1px solid rgba(#666, .3);
  &.centered {
    justify-content: center;
  }
}

.layout-box-tab-bar__tab {
  color: #000;
  padding: 10px;
  display: flex;
  min-width: 150px;
  font-size: 1.25em;
  text-decoration: none;
  justify-content: center;
  border-bottom: 2px solid transparent;
  i {
    margin-right: 5px
  }
  &.active {
    border-bottom-color: $color-primary;
  }
}

.layout-box__search {
  display: flex;
  padding: 0 10px;
  margin: 0 auto 20px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.3);
  i {
    color: #757575;
    line-height: 40px;
  }
  input {
    height: 40px;
    border: none;
    flex-grow: 1;
    color: #000000;
    background: none;
    &:focus {
      outline: none;
    }
  }
}

.layout-box__title {
  margin: 0;
  font-weight: normal;
  position: relative;
}

.layout-50 {
  & > * {
    width: 50%;
  }
}

.layout-50__col {
  width: 50%;
}

.layout-25__col {
  width: 25%;
}

.layout-box__group {
  &,
  .layout-box__title {
    margin-bottom: 20px;
  }
}

.global-info-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4E4E4F;
  background-color: rgba($aws-orange, 0.6);
  padding: 10px 0;
  margin-bottom: 30px;
  line-height: 1;
  i {
    margin-right: 5px;
  }
}
