.multiView {
  .settings-bar {
    display: flex;
    height: 100%;
    padding: 10px;
    background-color: #262626;
    &> :last-child {
      margin-left: auto;
    }
  }
  .settings-bar .control-button-group {
    margin-bottom: 0;
    .control-button {
      height: 100%;
    }
  }
  .app-player {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .app-player .video-js {
    padding-top: 35%;
    padding: 0;
    margin: 0;
    height: auto;
    overflow: hidden; //prevent video clipping edges of bounding box
  }
  .vjs-tech {
    pointer-events: none;
  }
  .app-player-wrap {
    align-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .multi-view-video-wrap {
    &.highlighted {
      outline: 4px solid $light-red;
    }
  }

  .multi-view-video-wrap__audio-indicator {
    position: absolute;
    right: 10px;
    bottom: 5px;
    opacity: .6;
    z-index: 9;
  }
  .multiview__icon {
    color: $color-primary;
  }
  .multi-view-video-wrap--active-audio .video-js {
    outline: 1px solid $color-primary;
  }
  .tabs__item a {
    color: white;
  }
  .layout-content-aside__aside {
    overflow: scroll;
    background: rgba(255, 255, 255, 0.1);
  }
  .button {
    @extend .button--dark
  }
  .filters__item-label {
    color: white;
  }
  .filters__buttons a {
    color: white;
  }
  .video-center {
    width: 100%;
  }
  .video-center__infinite-scroll {
    flex-direction: column;
    align-items: center;
  }
  .video-center__content {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 0;
    margin: 0;
    padding: 80px 0 0;
  }
  .listing-wrapper {
    height: 100%;
  }
  .video-center__results {
    overflow: scroll;
    height: 100%;
    width: 100%;
  }
  .layout-content-aside {
    height: 100%;
  }
  .layout-content-aside__content {
    display: flex;
    flex-direction: column;
  }
  .item-view-mode_selector {
    height: 120px;
    background-color: white;
    opacity: 0.8;

    &.is-selected {
      opacity: 1;
    }

    cursor: pointer;
    a {
      pointer-events: none;
    }
    .video-item__meta-type {
      display: none;
    }
    .favorite-toggle-button {
      display: none;
    }

    .video-item__image-wrapper {
      width: 30%;
      height: 100%;
      min-width: 30%;
    }
  }
  .video-item__selector {
    background: #FFF;
    padding: 7px 10px;
    display: flex;
    align-items: center;
  }
  .hide-selected-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    i {
      margin-right: 5px;
      color: $color-primary;
    }
  }
  .select-channel-indicator {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
    justify-content: center;
    background-color: #262626;
    cursor: pointer;
    i {
      font-size: 70px;
    }
    a {
      color: white;
    }
  }
  .video-center__head-title {
    font-size: 24px;
  }
  .video-center__head {
    @media (min-width: 1000px) {
      align-items: center;
    }
  }
  &--disabled-selection {
    .video-center__item:not(.is-selected) {
      .video-item__selector {
        display: none;
      }
      pointer-events: none;
    }
  }
  &__selection-message {
    align-self: center;
    margin-right: 10px;
  }
}

$spacing-gap: 4px;
$spacing: $spacing-gap * 2;
$full-calc: calc(100% - #{$spacing});
$half-calc: calc(50% - #{$spacing});
$third-calc: calc((100% / 3) - #{$spacing});
.video-array {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  .multi-view-video-wrap {
    margin: $spacing-gap;
  }
  &--single-video {
    .multi-view-video-wrap {
      flex: 0 0 $full-calc;
      height: 100%;
    }
  }
  &--single-row {
    .multi-view-video-wrap {
      flex: 0 0 $full-calc;
      height: $half-calc;
    }
  }
  &--two-row {
    .multi-view-video-wrap {
      flex: 0 0 $half-calc;
      height: $half-calc;
    }
  }
  &--three-row {
    .multi-view-video-wrap {
      flex: 0 0 $half-calc;
      height: $third-calc;
    }
  }
  @media (min-width:1000px) and (orientation:landscape) {
    justify-content: flex-start;
    &.video-array--three-row {
      .multi-view-video-wrap {
        flex: 0 0 $third-calc;
        height: $half-calc;
      }
    }
    &.video-array--single-row {
      .multi-view-video-wrap {
        flex: 0 0 $half-calc;
        height: $full-calc;
      }
    }
  }
}
