
$navbar-height: 80px;

$aws-orange: #F6A236;
$wine: #8D2456;
$salmon: #F6A236;
$emma-blue: #2A4B80;
$emma-light-purple: #C5C9E6;

$red: #d14c4c;
$light-red: #e69d9d;

$color-primary: $emma-blue;
$color-primary-light: $emma-light-purple;
$color-muted: #6c6c6c;
$gray-main: #f0f0f0;
$gray-secondary: #f2f2f2;
$text-color: #000;
